@use 'hero';
@use 'variables';
@use 'resume';
@use 'cast';
@use 'award';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    list-style: none;
}

@mixin text($fontSize: 24px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$douradoSuave;
}

@mixin tittle($fontSize: 38px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$douradoSuave;
}

//text ------------

.text {
    @include text;
}

.text--big {
    @include text(35px);
}

.text--small {
    @include text(18px);
}

//tittle --------------

.tittle {
    @include tittle;
}

.tittle--big {
    @include tittle(48px);
    font-weight: 400
}

.tittle--small {
    @include tittle(24px);
}
